html {
  font-family: 'Times New Roman', Times, serif;
}

.logo img {
  height: 160px;
  width: 200px;
}

header {
  height: 110px;
  width: 100%;
  text-align: bottom;
  font-size: 35px;
  color: rgb(0, 0, 0);
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: 20% 30%;
}
.banner {
  position: relative;
  top: 65%;
}
.menu {
  font-size: large;
  color: blue;
  text-align: left;
  padding: auto;
  margin-top: 4px;
  text-decoration: none;
  margin-bottom: 8px;
  display: inline;
}

body {
  background-image: url('bg.webp');
}

#task {
  font-size: large;
  vertical-align: middle;
}

#task img {
  padding-left: 20px;
  float: left;
}

#deadline {
  background-color: yellow;
}

#deadline :is(h4, li){
  color: red;

}

[class = "topic"] {
  font-style: italic;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px){
  a{
    font-size: larger;
  }
}
